extends layout

block content
  h1= title
  p Welcome to #{title}
  fb:login-button(show-faces="true",width="200",max-rows="4",scope="user_birthday,email,friends_birthday")
  div.
    <svg version="1.1" x="0px" y="0px" width="1024px" height="768px" id="visualization">
    <defs>
        <linearGradient id="path1950_1_" gradientUnits="userSpaceOnUse" x1="-1161.3848" y1="-114.3838" x2="-1213.0811" y2="-265.0721" gradientTransform="matrix(-0.5915 0 0 -0.5915 -616.701 -91.6719)">
            <stop  offset="0" style="stop-color:#FFFFFF"/>
            <stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
        </linearGradient>
        <g id="appleLogo">
             <path id="rect1942" inkscape:export-filename="C:\Documents and Settings\Molumen\Desktop\path3511111.png" inkscape:export-ydpi="7.7063322" inkscape:export-xdpi="7.7063322" fill="#464545" d="
        M210.513,10H45.487C25.888,10,10,25.888,10,45.487v165.025C10,230.111,25.888,246,45.487,246h165.025
    C230.111,246,246,230.111,246,210.513V45.487C246,25.888,230.111,10,210.513,10z"/>

    <path id="path1950" inkscape:export-filename="C:\Documents and Settings\Molumen\Desktop\path3511111.png" inkscape:export-ydpi="7.7063322" inkscape:export-xdpi="7.7063322" sodipodi:nodetypes="ccccsssc" opacity="0.2876" fill="url(#path1950_1_)" enable-background="new    " d="
    M183.648,20.089H72.351c-29.46,0-53.178,23.913-53.178,53.615v108.592c0.954,23.186,4.622,8.528,11.604-17.147
    c8.115-29.842,34.542-55.923,66.725-75.469c24.564-14.919,52.061-24.446,102.109-25.352
    C227.995,63.813,225.489,27.486,183.648,20.089z"/>
    <g id="g3645" transform="matrix(0.6516767,0,0,0.6570253,420.32434,358.34794)">
    
        <path id="path3975" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccc" fill="#F3F3F3" stroke="#939494" stroke-width="1.5282" d="
        M-346.564-295.437c1.013-3.917-0.003-5.3-1.701-5.828c-8.943-5.519-14.906-11.715-21.224-20.88
        c-5.088-10.644-7.807-13.963-7.442-28.965c-0.342-7.23,0.554-14.461,3.614-21.691c3.606-7.418,6.902-13.662,13.694-17.988
        l6.507-5.784c1.573-1.186,1.57-3.543,0.767-5.149c-5.672-5.862-10.256-11.88-20.455-17.097c-4.133-2.392-10.37-4.244-18.588-4.594
        c-5.802,0.002-11.431-0.168-18.543,1.146c-9.087,1.48-17.413,5.637-25.562,9.699c-5.206,1.275-9.934,0.63-14.461-0.811
        l-15.184-6.419c-5.285-1.946-11.471-2.99-18.799-2.892c-7.234-0.022-14.404,0.282-20.968,3.616
        c-5.204,2.509-9.937,5.488-14.461,8.677c-5.362,5.002-10.451,10.276-14.461,16.629c-3.088,3.99-5.276,10.426-7.698,16.418
        c-2.21,5.997-3.223,10.436-4.126,15.863c-1.582,10.492-1.394,16.862-1.023,24.837c0.781,13.654,2.735,18.621,4.17,26.753
        c5.246,20.96,17.425,40.057,30.368,57.119c4.582,5.062,6.706,8.897,15.439,15.14c5.857,3.659,6.722,4.371,9.866,5.829
        c2.895,0.719,5.888,1.341,10.123,0.722c10.605-2.244,19.848-8.263,30.367-10.846c3.857-0.505,7.713-0.892,11.569-0.722
        c12.631-0.21,23.209,11.052,35.428,10.546c4.786-0.658,9.306-2.348,12.759-4.337c13.691-10.027,26.645-25.515,33.684-41.169
        C-350.369-283.136-348.425-289.245-346.564-295.437C-345.551-299.354-348.425-289.245-346.564-295.437z"/>
    <path id="path4486" sodipodi:nodetypes="cccccccccccccccccccc" fill="#F9F9F9" stroke="#939494" stroke-width="1.5282" d="
        M-446.726-426.9c0.076,2.89,1.896,2.027,2.915,2.403c3.833,0.435,5.714-0.595,8.315-1.084c5.032-1.443,6.973-2.499,9.399-3.616
        c2.772-1.648,5.543-2.837,8.315-5.422c9.824-7.139,19.283-20.922,21.329-32.898c0.641-3.054,1.451-6.023,1.448-9.4
        c0.202-1.649-0.262-2.631-0.724-3.615c-1.827-1.078-2.768-1.043-4.893-0.891c-2.491,0.01-5.676,0.393-9.207,1.975
        c-11.784,5.416-24.91,15.56-30.155,27.709c-2.952,5.641-5.611,12.349-6.742,18.693C-447.083-430.878-446.99-429.372-446.726-426.9
        C-446.65-424.01-446.99-429.372-446.726-426.9z"/>
    </g>

        </g>

    <marker
       refX="0"
       refY="0"
       orient="auto"
       id="Arrow1Lstart"
       style="overflow:visible">
      <path
         d="M 0,0 5,-5 -12.5,0 5,5 0,0 z"
         transform="matrix(0.8,0,0,0.8,10,0)"
         id="path10118"
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;marker-start:none"
         inkscape:connector-curvature="0" />
    </marker>
    <radialGradient
       cx="276.14392"
       cy="-2665.9668"
       r="703.63379"
       fx="276.14392"
       fy="-2665.9668"
       id="radialGradient4134"
       xlink:href="#linearGradient4128"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,0.17045779,808.10425,-1175.0862)" />
    <linearGradient
       id="linearGradient4128">
      <stop
         id="stop4130"
         style="stop-color:#000000;stop-opacity:1"
         offset="0" />
      <stop
         id="stop4132"
         style="stop-color:#000000;stop-opacity:0"
         offset="1" />
    </linearGradient>
    <linearGradient
       id="linearGradient8105">
      <stop
         id="stop8107"
         style="stop-color:#a14dd3;stop-opacity:1"
         offset="0" />
      <stop
         id="stop8109"
         style="stop-color:#a14dd3;stop-opacity:0"
         offset="1" />
    </linearGradient>
    <radialGradient
       cx="276.14392"
       cy="-2665.9668"
       r="703.63379"
       fx="276.14392"
       fy="-2665.9668"
       id="radialGradient18343"
       xlink:href="#linearGradient4128"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,0.17045779,1912.5103,685.79563)" />
    <linearGradient
       x1="129.342"
       y1="259.30521"
       x2="195.5984"
       y2="259.30521"
       id="linearGradient31968"
       xlink:href="#SVGID_3_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.2932"
       y1="259.311"
       x2="195.5535"
       y2="259.311"
       id="linearGradient31970"
       xlink:href="#SVGID_4_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.24541"
       y1="259.31689"
       x2="195.50951"
       y2="259.31689"
       id="linearGradient31972"
       xlink:href="#SVGID_5_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.1965"
       y1="259.32181"
       x2="195.4646"
       y2="259.32181"
       id="linearGradient31974"
       xlink:href="#SVGID_6_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.14771"
       y1="259.32669"
       x2="195.4216"
       y2="259.32669"
       id="linearGradient31976"
       xlink:href="#SVGID_7_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.09891"
       y1="259.33151"
       x2="195.37869"
       y2="259.33151"
       id="linearGradient31978"
       xlink:href="#SVGID_8_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.05099"
       y1="259.3364"
       x2="195.3376"
       y2="259.3364"
       id="linearGradient31980"
       xlink:href="#SVGID_9_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="129.0032"
       y1="259.3403"
       x2="195.2957"
       y2="259.3403"
       id="linearGradient31982"
       xlink:href="#SVGID_10_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.9543"
       y1="259.34329"
       x2="195.25459"
       y2="259.34329"
       id="linearGradient31984"
       xlink:href="#SVGID_11_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.90649"
       y1="259.34811"
       x2="195.21561"
       y2="259.34811"
       id="linearGradient31986"
       xlink:href="#SVGID_12_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.8567"
       y1="259.3501"
       x2="195.17551"
       y2="259.3501"
       id="linearGradient31988"
       xlink:href="#SVGID_13_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.80881"
       y1="259.354"
       x2="195.13651"
       y2="259.354"
       id="linearGradient31990"
       xlink:href="#SVGID_14_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.75999"
       y1="259.35599"
       x2="195.0994"
       y2="259.35599"
       id="linearGradient31992"
       xlink:href="#SVGID_15_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.7122"
       y1="259.35791"
       x2="195.0623"
       y2="259.35791"
       id="linearGradient31994"
       xlink:href="#SVGID_16_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.6633"
       y1="259.35989"
       x2="195.0251"
       y2="259.35989"
       id="linearGradient31996"
       xlink:href="#SVGID_17_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.61549"
       y1="259.36179"
       x2="194.989"
       y2="259.36179"
       id="linearGradient31998"
       xlink:href="#SVGID_18_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.5667"
       y1="259.3638"
       x2="194.9539"
       y2="259.3638"
       id="linearGradient32000"
       xlink:href="#SVGID_19_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.51781"
       y1="259.36569"
       x2="194.91769"
       y2="259.36569"
       id="linearGradient32002"
       xlink:href="#SVGID_20_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.47"
       y1="259.3667"
       x2="194.8855"
       y2="259.3667"
       id="linearGradient32004"
       xlink:href="#SVGID_21_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       x1="128.4211"
       y1="259.36871"
       x2="194.8503"
       y2="259.36871"
       id="linearGradient32006"
       xlink:href="#SVGID_22_"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_22_"
       id="linearGradient32006-9"
       y2="259.36871"
       x2="194.8503"
       y1="259.36871"
       x1="128.4211" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_21_"
       id="linearGradient32004-0"
       y2="259.3667"
       x2="194.8855"
       y1="259.3667"
       x1="128.47" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_20_"
       id="linearGradient32002-5"
       y2="259.36569"
       x2="194.91769"
       y1="259.36569"
       x1="128.51781" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_19_"
       id="linearGradient32000-5"
       y2="259.3638"
       x2="194.9539"
       y1="259.3638"
       x1="128.5667" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_18_"
       id="linearGradient31998-9"
       y2="259.36179"
       x2="194.989"
       y1="259.36179"
       x1="128.61549" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_17_"
       id="linearGradient31996-8"
       y2="259.35989"
       x2="195.0251"
       y1="259.35989"
       x1="128.6633" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_16_"
       id="linearGradient31994-4"
       y2="259.35791"
       x2="195.0623"
       y1="259.35791"
       x1="128.7122" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_15_"
       id="linearGradient31992-8"
       y2="259.35599"
       x2="195.0994"
       y1="259.35599"
       x1="128.75999" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_14_"
       id="linearGradient31990-3"
       y2="259.354"
       x2="195.13651"
       y1="259.354"
       x1="128.80881" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_13_"
       id="linearGradient31988-6"
       y2="259.3501"
       x2="195.17551"
       y1="259.3501"
       x1="128.8567" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_12_"
       id="linearGradient31986-6"
       y2="259.34811"
       x2="195.21561"
       y1="259.34811"
       x1="128.90649" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_11_"
       id="linearGradient31984-3"
       y2="259.34329"
       x2="195.25459"
       y1="259.34329"
       x1="128.9543" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_10_"
       id="linearGradient31982-9"
       y2="259.3403"
       x2="195.2957"
       y1="259.3403"
       x1="129.0032" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_9_"
       id="linearGradient31980-9"
       y2="259.3364"
       x2="195.3376"
       y1="259.3364"
       x1="129.05099" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_8_"
       id="linearGradient31978-4"
       y2="259.33151"
       x2="195.37869"
       y1="259.33151"
       x1="129.09891" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_7_"
       id="linearGradient31976-3"
       y2="259.32669"
       x2="195.4216"
       y1="259.32669"
       x1="129.14771" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_6_"
       id="linearGradient31974-9"
       y2="259.32181"
       x2="195.4646"
       y1="259.32181"
       x1="129.1965" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_5_"
       id="linearGradient31972-6"
       y2="259.31689"
       x2="195.50951"
       y1="259.31689"
       x1="129.24541" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_4_"
       id="linearGradient31970-7"
       y2="259.311"
       x2="195.5535"
       y1="259.311"
       x1="129.2932" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_3_"
       id="linearGradient31968-6"
       y2="259.30521"
       x2="195.5984"
       y1="259.30521"
       x1="129.342" />
    <radialGradient
       gradientTransform="matrix(1,0,0,0.17045779,1912.5103,685.79563)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#linearGradient4128-8"
       id="radialGradient18343-4"
       fy="-2665.9668"
       fx="276.14392"
       r="703.63379"
       cy="-2665.9668"
       cx="276.14392" />
    <linearGradient
       id="linearGradient8105-6">
      <stop
         offset="0"
         style="stop-color:#a14dd3;stop-opacity:1"
         id="stop8107-9" />
      <stop
         offset="1"
         style="stop-color:#a14dd3;stop-opacity:0"
         id="stop8109-8" />
    </linearGradient>
    <linearGradient
       id="linearGradient4128-8">
      <stop
         offset="0"
         style="stop-color:#000000;stop-opacity:1"
         id="stop4130-6" />
      <stop
         offset="1"
         style="stop-color:#000000;stop-opacity:0"
         id="stop4132-5" />
    </linearGradient>
    <radialGradient
       gradientTransform="matrix(1,0,0,0.17045779,808.10425,-1175.0862)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#linearGradient4128-8"
       id="radialGradient4134-5"
       fy="-2665.9668"
       fx="276.14392"
       r="703.63379"
       cy="-2665.9668"
       cx="276.14392" />
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-6"
       orient="auto"
       refY="0"
       refX="0">
      <path
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;marker-start:none"
         id="path10118-8"
         transform="matrix(0.8,0,0,0.8,10,0)"
         d="M 0,0 5,-5 -12.5,0 5,5 0,0 z" />
    </marker>
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_22_"
       id="linearGradient32006-6"
       y2="259.36871"
       x2="194.8503"
       y1="259.36871"
       x1="128.4211" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_21_"
       id="linearGradient32004-6"
       y2="259.3667"
       x2="194.8855"
       y1="259.3667"
       x1="128.47" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_20_"
       id="linearGradient32002-1"
       y2="259.36569"
       x2="194.91769"
       y1="259.36569"
       x1="128.51781" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_19_"
       id="linearGradient32000-6"
       y2="259.3638"
       x2="194.9539"
       y1="259.3638"
       x1="128.5667" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_18_"
       id="linearGradient31998-7"
       y2="259.36179"
       x2="194.989"
       y1="259.36179"
       x1="128.61549" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_17_"
       id="linearGradient31996-4"
       y2="259.35989"
       x2="195.0251"
       y1="259.35989"
       x1="128.6633" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_16_"
       id="linearGradient31994-0"
       y2="259.35791"
       x2="195.0623"
       y1="259.35791"
       x1="128.7122" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_15_"
       id="linearGradient31992-7"
       y2="259.35599"
       x2="195.0994"
       y1="259.35599"
       x1="128.75999" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_14_"
       id="linearGradient31990-9"
       y2="259.354"
       x2="195.13651"
       y1="259.354"
       x1="128.80881" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_13_"
       id="linearGradient31988-3"
       y2="259.3501"
       x2="195.17551"
       y1="259.3501"
       x1="128.8567" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_12_"
       id="linearGradient31986-7"
       y2="259.34811"
       x2="195.21561"
       y1="259.34811"
       x1="128.90649" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_11_"
       id="linearGradient31984-5"
       y2="259.34329"
       x2="195.25459"
       y1="259.34329"
       x1="128.9543" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_10_"
       id="linearGradient31982-93"
       y2="259.3403"
       x2="195.2957"
       y1="259.3403"
       x1="129.0032" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_9_"
       id="linearGradient31980-6"
       y2="259.3364"
       x2="195.3376"
       y1="259.3364"
       x1="129.05099" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_8_"
       id="linearGradient31978-9"
       y2="259.33151"
       x2="195.37869"
       y1="259.33151"
       x1="129.09891" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_7_"
       id="linearGradient31976-2"
       y2="259.32669"
       x2="195.4216"
       y1="259.32669"
       x1="129.14771" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_6_"
       id="linearGradient31974-90"
       y2="259.32181"
       x2="195.4646"
       y1="259.32181"
       x1="129.1965" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_5_"
       id="linearGradient31972-2"
       y2="259.31689"
       x2="195.50951"
       y1="259.31689"
       x1="129.24541" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_4_"
       id="linearGradient31970-5"
       y2="259.311"
       x2="195.5535"
       y1="259.311"
       x1="129.2932" />
    <linearGradient
       gradientTransform="matrix(1,0,0,-1,8.3999,368.2998)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#SVGID_3_"
       id="linearGradient31968-9"
       y2="259.30521"
       x2="195.5984"
       y1="259.30521"
       x1="129.342" />
    <radialGradient
       gradientTransform="matrix(1,0,0,0.17045779,1912.5103,685.79563)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#linearGradient4128-4"
       id="radialGradient18343-1"
       fy="-2665.9668"
       fx="276.14392"
       r="703.63379"
       cy="-2665.9668"
       cx="276.14392" />
    <linearGradient
       id="linearGradient8105-7">
      <stop
         offset="0"
         style="stop-color:#a14dd3;stop-opacity:1"
         id="stop8107-2" />
      <stop
         offset="1"
         style="stop-color:#a14dd3;stop-opacity:0"
         id="stop8109-7" />
    </linearGradient>
    <linearGradient
       id="linearGradient4128-4">
      <stop
         offset="0"
         style="stop-color:#000000;stop-opacity:1"
         id="stop4130-4" />
      <stop
         offset="1"
         style="stop-color:#000000;stop-opacity:0"
         id="stop4132-1" />
    </linearGradient>
    <radialGradient
       gradientTransform="matrix(1,0,0,0.17045779,808.10425,-1175.0862)"
       gradientUnits="userSpaceOnUse"
       xlink:href="#linearGradient4128-4"
       id="radialGradient4134-9"
       fy="-2665.9668"
       fx="276.14392"
       r="703.63379"
       cy="-2665.9668"
       cx="276.14392" />
    <marker
       style="overflow:visible"
       id="Arrow1Lstart-7"
       orient="auto"
       refY="0"
       refX="0">
      <path
         style="fill-rule:evenodd;stroke:#000000;stroke-width:1pt;marker-start:none"
         id="path10118-84"
         transform="matrix(0.8,0,0,0.8,10,0)"
         d="M 0,0 5,-5 -12.5,0 5,5 0,0 z" />
    </marker>
    <g id="androidLogo" transform="translate(0-50)">
    <g
     transform="translate(-5426.4916,-1217.2085)"
     id="g11265-7-4">
    <rect
       width="28.481606"
       height="89.571671"
       rx="14.240803"
       x="5743.0708"
       y="721.45557"
       transform="matrix(0.93386186,0.35763392,0.35763392,-0.93386186,0,0)"
       id="c-4-1-0-2-8"
       style="fill:#a4c639;stroke:none" />
    <rect
       width="28.481606"
       height="89.571671"
       rx="14.240803"
       x="5510.1553"
       y="1426.3145"
       id="c-4-6-4-29"
       style="fill:#a4c639;stroke:none" />
    <path
       inkscape:connector-curvature="0"
       d="m 5491.8852,1352.8666 c -0.047,0.5392 -0.088,1.0859 -0.088,1.638 l 0,92.5564 c 0,9.9545 7.8791,17.9728 17.6606,17.9728 l 94.1238,0 c 9.7816,0 17.6607,-8.0183 17.6607,-17.9728 l 0,-92.5564 c 0,-0.552 -0.019,-1.0989 -0.066,-1.638 l -129.2908,0 z"
       id="rect8719-3-4-7-4"
       style="fill:#a4c639;stroke:#ffffff;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none" />
    <rect
       width="28.481606"
       height="89.571671"
       rx="14.240803"
       x="4118.6333"
       y="3994.5742"
       transform="matrix(0.86952118,-0.49389566,0.49389566,0.86952118,0,0)"
       id="c-4-8-3-03-5"
       style="fill:#a4c639;stroke:none" />
    <g
       transform="translate(-1804.4314,712.70811)"
       id="g4282-9-6-09">
      <path
         inkscape:connector-curvature="0"
         d="m 7296.7327,634.07779 c 0.3964,-28.42881 25.2094,-51.73958 57.0625,-54.8125 l 14.3125,0 c 31.8531,3.07292 56.6661,26.38369 57.0625,54.8125 l -128.4375,0 z"
         id="path4090-2-4-69"
         style="fill:#a4c639;fill-opacity:1;stroke:none" />
      <path
         inkscape:connector-curvature="0"
         d="m 7505.2239,602.73602 a 13.534965,11.136364 0 1 1 -27.0699,0 13.534965,11.136364 0 1 1 27.0699,0 z"
         transform="matrix(0.54430379,0,0,0.64615387,3255.6983,219.55897)"
         id="path4109-9-6-1"
         style="fill:#ffffff;fill-opacity:1;stroke:none" />
      <path
         inkscape:connector-curvature="0"
         d="m 7505.2239,602.73602 a 13.534965,11.136364 0 1 1 -27.0699,0 13.534965,11.136364 0 1 1 27.0699,0 z"
         transform="matrix(0.54430379,0,0,0.64615387,3310.6946,219.55897)"
         id="path4109-0-3-9-4"
         style="fill:#ffffff;fill-opacity:1;stroke:none" />
      <path
         inkscape:connector-curvature="0"
         d="m 7301.6853,576.5227 15.0228,26.02021"
         id="path4160-4-3-39"
         style="fill:none;stroke:#a4c639;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
      <path
         inkscape:connector-curvature="0"
         d="m 7420.2175,576.5227 -15.0228,26.02021"
         id="path4160-9-5-8-8"
         style="fill:none;stroke:#a4c639;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    </g>
              <rect
       width="28.481606"
       height="89.571671"
       rx="14.240803"
       x="-5616.6382"
       y="-689.59222"
       transform="matrix(-0.93386186,-0.35763392,-0.35763392,0.93386186,0,0)"
       id="c-4-1-0-4-5-6"
       style="fill:#a4c639;stroke:none" />

    </g>
    </defs>
    
    </svg>

